/* Admin-header */

.Admin-header {
    width: 100%;
    padding: 10px 0px;
}


/* Admin-header-content */

.Admin-header-content {
    width: 50%;
    float: right;
}

.Admin-header-content input {
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 3px;
    outline: none;
    border: none;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}