/* Theme-container */

.Theme-container {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Theme-container>div {
    width: 250px;
    padding: 50px 10px;
    text-align: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .Theme-container {
        width: 90%;
        height: 300px;
        position: absolute;
        top: 0px;
        justify-content: center;
    }
}