/* LoginForm */

.LoginForm {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

form {
    position: relative;
}

form .label {
    margin-bottom: 7px;
    color: #95afc0;
    display: block;
}

form .Login-Input {
    width: 100%;
    padding: 10px 5px;
    outline: none;
    margin-bottom: 12px;
    box-sizing: border-box;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form .login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #130f40;
    border-radius: 5px;
    border: none;
    color: #ffff;
    transition: all 0.5s;
}

form .login-btn:hover {
    background-color: #f53b57;
}


/* EmailIcon */

.EmailIcon {
    position: absolute;
    right: 5px;
    top: 35px;
}

.password-wrapper-icon {
    position: absolute;
    right: 10px;
    top: 115px;
    cursor: pointer;
}